body {
    font-family: 'Roboto Condensed';
    margin: 0;
    background: #000000;
    color: #FFFFFF;
}

h1 {
    margin: 0;
    font-size: 24pt;
}

.weather-container {
    text-align: right;
}

.temp {
    bottom: 15px;
    position: relative;
    font-weight: 700;
    font-size: 18pt;
}

.condition {
    height: 50px;
    width: 50px;
}

#datetime-container {
    margin: 40px 0 0 40px;
    position: absolute;
    width: 33%;
}

#time {
    font-size: 44pt
}

#message-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

#message {
    font-size: 36pt;
    font-weight: 300;
}

#weather-container {
    float: right;
    margin: 40px 40px 0 0;
    width: 33%;
}

#location,
#current-temp {
    font-weight: 700;
    font-size: 24pt;
    text-align: right;
}

#travel-time {
    font-weight: 700;
    font-size: 24pt;
}